# Ignore dataset files
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
ENV/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db
